<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="data.save.status"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <activity
            android:name="com.screenrate.app.Moviedetails"
            android:exported="false" />
        <activity
            android:name="com.screenrate.app.MeineGemerkteListe"
            android:exported="false" />
        <activity
            android:name="com.screenrate.app.SuchLayout"
            android:exported="false" />
        <activity
            android:name="com.screenrate.app.Freundeliste"
            android:exported="false" />
        <activity
            android:name="com.screenrate.app.Empfehlungen"
            android:exported="false" />
        <activity
            android:name="com.screenrate.app.BenutzerEinstellung"
            android:exported="false" />
        <activity
            android:name="com.screenrate.app.Activity2"
            android:exported="false" />
        <activity
            android:name="com.screenrate.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screenrate.app.RegistrationActivity"
            android:exported="false" />
    </application>

</manifest>